<p-dialog [(visible)]="visible" [modal]="true" [header]="'Agregar marca'" [closable]="true"
  [style]="{ width: '400px' }" (onHide)="visibleChange.emit(false)">

  <div class="{{baseClass}}__container">
    <!-- <h3 class="{{baseClass}}__title">Crear Marca</h3> -->

    <form [formGroup]="formMarca" (ngSubmit)="guardar()">
      <div class="{{baseClass}}__form--column">
        <div class="{{baseClass}}__field {{baseClass}}__field--nombre field">
          <label>Nombre</label>
          <input pInputText formControlName="nombre" />
        </div>

        <div class="{{baseClass}}__field {{baseClass}}__field--descripcion field">
          <label>Descripción</label>
          <input pInputText formControlName="descripcion" />
        </div>

        <div class="{{baseClass}}__field {{baseClass}}__field--estado field">
          <label>Estado</label>
          <input pInputText formControlName="estado" />
        </div>

        <div class="{{baseClass}}__button">
          <button pButton type="submit" label="Guardar" [disabled]="formMarca.invalid"></button>
        </div>
      </div>

    </form>
  </div>
</p-dialog>