.producto-crear-modal__form--column {
  display: flex;
  flex-direction: column;
}

.producto-crear-modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.producto-crear-modal__field input {
  width: 100%;
}

/* Ocultar flechas en inputs number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
