<p-dialog [(visible)]="visible" [modal]="true" [header]="'Agregar Lote'" [closable]="true"
  [style]="{ width: '400px' }" (onHide)="onDialogClose()">

  <div class="{{baseClass}}__container">

    <form [formGroup]="formLote" (ngSubmit)="guardar()">
      <div class="{{baseClass}}__form--column">

        <div class="{{baseClass}}__field {{baseClass}}__field--codigo field">
          <label>Código</label>
          <input pInputText formControlName="codigo" />
        </div>

        <div class="{{baseClass}}__field {{baseClass}}__field--descripcion field">
          <label>Descripción</label>
          <input pInputText formControlName="descripcion" />
        </div>

         <div class="{{baseClass}}__field {{baseClass}}__field--producto field">
          <label>Producto</label>
          <select formControlName="idProducto" class="p-inputtext">
            <option value="" disabled selected>Seleccione un Producto</option>
            <option *ngFor="let producto of productos" [value]="producto.idProducto">
              {{ producto.nombre }}
            </option>
          </select>
        </div>

        <div class="{{baseClass}}__button">
          <button pButton type="submit" label="Guardar" [disabled]="formLote.invalid"></button>
        </div>
      </div>

    </form>
  </div>
</p-dialog>