<p-dialog [(visible)]="visible" [modal]="true" [header]="'Agregar Unidad de Medida'" [closable]="true"
  [style]="{ width: '400px' }" (onHide)="visibleChange.emit(false)">

  <div class="{{baseClass}}__container">

    <form [formGroup]="formUnidadMedida" (ngSubmit)="guardar()">
      <div class="{{baseClass}}__form--column">
        <div class="{{baseClass}}__field {{baseClass}}__field--nombre field">
          <label>Nombre</label>
          <input pInputText formControlName="nombre" />
        </div>

         <div class="{{baseClass}}__field {{baseClass}}__field--simbolo field">
          <label>Simbolo</label>
          <input pInputText formControlName="simbolo" />
        </div>

        <div class="{{baseClass}}__field {{baseClass}}__field--descripcion field">
          <label>Descripción</label>
          <input pInputText formControlName="descripcion" />
        </div>

        <div class="{{baseClass}}__button">
          <button pButton type="submit" label="Guardar" [disabled]="formUnidadMedida.invalid"></button>
        </div>
      </div>

    </form>
  </div>
</p-dialog>

<app-error-modal
  [(visible)]="errorVisible"
  [errorMessage]="errorMessage"
  [errorDetails]="errorDetails">
</app-error-modal>