.main-layout__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #044e86 !important;
}

.main-layout__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}



.main-layout__sidebar {
  width: 15%;
  background-color: #011A2D;
}

.main-layout__router-outlet {
  width: 85%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}




.p-panelmenu-header-link {
  background-color: #011A2D !important;
  /* color: white; */
}

.p-panelmenu-panel {
  background-color: #011A2D !important;
  color: white;
}
