<div class="{{baseClass}}__container">

    <div class="{{baseClass}}__row {{baseClass}}__row--button">
        <button class="{{baseClass}}__button" (click)="agregarCategoria()">
            Agregar
        </button>
    </div>

    <app-categoria-crear-modal [(visible)]="mostrarModal" (onClose)="mostrarModal = false"
        (onSave)="guardarCategoria($event)"></app-categoria-crear-modal>

    <app-categoria-editar-modal [(visible)]="mostrarEditarModal" [categoria]="categoriaSeleccionada"
        (onGuardar)="actualizarListadoCategorias()" (visibleChange)="mostrarEditarModal = $event">
    </app-categoria-editar-modal>

    <p-table class="{{baseClass}}__table" #dt2 [value]="categorias" dataKey="id" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [globalFilterFields]="['nombre']">

        <ng-template #header>
            <tr>
                <th style="width:7%">Id</th>
                <th style="width:22%">Nombre</th>
                <th style="width:30%">Descripción</th>
                <th style="width:12%">Estado</th>
                <th style="width:12%">Acciones</th>

            </tr>
            <tr>
            </tr>
        </ng-template>
        <ng-template #body let-categoria>
            <tr>
                <td>
                    {{ categoria.idCategoria }}
                </td>
                <td>
                    {{ categoria.nombre }}
                </td>
                <td>
                    {{ categoria.descripcion }}
                </td>
                <td>
                    <p-tag [value]="categoria.estado" />
                </td>

                <td>
                    <button class="{{baseClass}}__button-edit" (click)="editarCategoria(categoria)">✏️</button>
                    <button class="{{baseClass}}__button-delete" (click)="eliminarCategoria(categoria)">🗑️</button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No existen categorias registradas.</td>
            </tr>
        </ng-template>
    </p-table>
</div>